 .u-section-1 {
  min-height: 596px;
}

.u-section-1 .u-image-1 {
  width: 259px;
  height: 82px;
  margin: 0 auto 0 calc(((100% - 1320px) / 2));
}

.u-section-1 .u-line-1 {
  margin-top: -7px;
  margin-bottom: 0;
  transform-origin: left center;
}

.u-section-1 .u-image-2 {
  height: 387px;
  margin-top: 0;
  margin-bottom: 0;
  filter: brightness(0.45);
}

.u-section-1 .u-shape-1 {
  width: 1320px;
  height: 232px;
  background-image: linear-gradient(white, #d9d9d9);
  box-shadow: 2px -2px 40px 0px rgba(128,128,128,1);
  margin: -120px auto 0;
}

.u-section-1 .u-group-1 {
  width: 152px;
  min-height: 231px;
  height: auto;
  margin: -232px auto 0 calc(((100% - 1320px) / 2)  + 41px);
}

.u-section-1 .u-icon-1 {
  width: 112px;
  height: 112px;
  margin: 20px 20px 0;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-family: Tahoma;
  font-size: 1.875rem;
  margin: 31px 26px 0 auto;
}

.u-section-1 .u-text-2 {
  font-family: Tahoma;
  font-size: 3.75rem;
  text-shadow: 2px -2px 40px rgba(128,128,128,1);
  font-weight: 400;
  margin: -415px auto 0;
}

.u-section-1 .u-group-2 {
  width: 203px;
  min-height: 230px;
  height: auto;
  margin: 89px auto 0 calc(((100% - 1320px) / 2)  + 287px);
}

.u-section-1 .u-image-3 {
  width: 112px;
  height: 112px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  font-family: Tahoma;
  font-size: 1.5rem;
  margin: 40px auto 0 20px;
}

.u-section-1 .u-group-3 {
  width: 152px;
  min-height: 230px;
  margin: -224px calc(((100% - 1320px) / 2)  + 579px) 0 auto;
}

.u-section-1 .u-image-4 {
  width: 112px;
  height: 112px;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-text-4 {
  font-family: Tahoma;
  font-size: 1.5rem;
  margin: 40px auto 0 22px;
}

.u-section-1 .u-image-5 {
  width: 112px;
  height: 112px;
  margin: -212px calc(((100% - 1320px) / 2)  + 325px) 0 auto;
}

.u-section-1 .u-text-5 {
  font-family: Tahoma;
  font-size: 1.5rem;
  margin: 42px 349px 35px calc(((100% - 1320px) / 2)  + 859px);
}

@media (max-width: 1399px) {
  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-1 .u-shape-1 {
    width: 1140px;
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 1140px) / 2) + 41px);
    height: auto;
  }

  .u-section-1 .u-group-2 {
    margin-left: calc(((100% - 1140px) / 2) + 287px);
    height: auto;
  }

  .u-section-1 .u-group-3 {
    margin-right: calc(((100% - 1140px) / 2) + 579px);
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 1140px) / 2) + 325px);
  }

  .u-section-1 .u-text-5 {
    margin-left: calc(((100% - 1140px) / 2) + 742px);
  }
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 597px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-shape-1 {
    width: 940px;
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + 41px);
  }

  .u-section-1 .u-group-2 {
    margin-left: calc(((100% - 940px) / 2) + 287px);
  }

  .u-section-1 .u-group-3 {
    margin-right: calc(((100% - 940px) / 2) + 579px);
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 940px) / 2) + 325px);
  }

  .u-section-1 .u-text-5 {
    margin-right: 288px;
    margin-left: calc(((100% - 940px) / 2) + 612px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-shape-1 {
    width: 720px;
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2) + 41px);
  }

  .u-section-1 .u-group-2 {
    margin-left: calc(((100% - 720px) / 2) + 287px);
  }

  .u-section-1 .u-group-3 {
    margin-right: calc(((100% - 720px) / 2) + 568px);
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 720px) / 2) + 325px);
  }

  .u-section-1 .u-text-5 {
    margin-right: 221px;
    margin-left: calc(((100% - 720px) / 2) + 469px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 598px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 540px) / 2) + 41px);
  }

  .u-section-1 .u-icon-1 {
    width: 82px;
    height: 82px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: 23px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 37px;
    margin-right: auto;
    margin-left: 26px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    font-weight: 700;
  }

  .u-section-1 .u-group-2 {
    margin-left: calc(((100% - 540px) / 2) + 287px);
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-group-3 {
    margin-right: calc(((100% - 540px) / 2) + 388px);
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 540px) / 2) + 325px);
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    margin-right: 166px;
    margin-left: calc(((100% - 540px) / 2) + 352px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 676px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 340px) / 2) + 41px);
  }

  .u-section-1 .u-icon-1 {
    margin-top: 24px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 9px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-group-2 {
    margin-left: calc(((100% - 340px) / 2) + 137px);
  }

  .u-section-1 .u-group-3 {
    margin-right: calc(((100% - 340px) / 2) + 188px);
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 340px) / 2) + 228px);
  }

  .u-section-1 .u-text-5 {
    margin-right: 105px;
    margin-left: calc(((100% - 340px) / 2) + 222px);
  }
}.u-section-2 .u-sheet-1 {
  min-height: 504px;
}

.u-section-2 .u-group-1 {
  width: 439px;
  min-height: 430px;
  height: auto;
  margin: 20px auto 0 11px;
}

.u-section-2 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-2 .u-image-1 {
  width: 390px;
  height: auto;
  box-shadow: 2px 0px 40px 0px rgba(128,128,128,1);
  min-height: 390px;
  background-image: url("/images/image6.png");
  margin: 20px auto 0 20px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 2.125rem;
  text-shadow: 2px -2px 22px rgba(128,128,128,1);
  font-family: Tahoma;
  margin: -388px 43px 0 auto;
}

.u-section-2 .u-text-2 {
  font-family: Tahoma;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 20px 36px 0 506px;
}

.u-section-2 .u-image-2 {
  width: 28px;
  height: 28px;
  margin: -170px auto 0 467px;
}

.u-section-2 .u-image-3 {
  width: 39px;
  height: 41px;
  margin: 0 auto 0 462px;
}

.u-section-2 .u-image-4 {
  width: 39px;
  height: 26px;
  margin: -10px auto 0 462px;
}

.u-section-2 .u-image-5 {
  width: 28px;
  height: 28px;
  margin: 0 auto 0 467px;
}

.u-section-2 .u-image-6 {
  width: 39px;
  height: 18px;
  margin: 6px auto 33px 462px;
}

@media (max-width: 1399px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-image-1 {
    height: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 535px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -229px;
    margin-left: 501px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -4px;
    margin-left: 496px;
  }

  .u-section-2 .u-image-4 {
    width: 56px;
    height: 16px;
    margin-top: 28px;
    margin-left: 479px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 34px;
    margin-left: 502px;
  }

  .u-section-2 .u-image-6 {
    margin-top: 11px;
    margin-bottom: 60px;
    margin-left: 496px;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-left: 335px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-left: 115px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    margin-left: 312px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 301px;
  }

  .u-section-2 .u-image-4 {
    margin-left: 284px;
  }

  .u-section-2 .u-image-5 {
    margin-left: 312px;
  }

  .u-section-2 .u-image-6 {
    margin-left: 301px;
  }
}@font-face {
  font-family: 'Tahoma';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Tahoma.ttf);
}@font-face {
  font-family: 'TahomaModerniz';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/TahomaModerniz.woff2);
}@font-face {
  font-family: 'vag-world-bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/vag-world-bold.ttf);
}