.u-section-1 .u-sheet-1 {
  min-height: 595px;
}

.u-section-1 .u-text-1 {
  font-family: Tahoma;
  font-size: 2.25rem;
  margin: 6px auto 0 61px;
}

.u-section-1 .u-group-1 {
  width: 340px;
  height: auto;
  background-image: linear-gradient(white, #e5e5e5);
  margin: 22px auto 0 52px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-image-1 {
  width: 179px;
  height: 182px;
  margin: 39px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: Tahoma;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-family: Tahoma;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 66px 52px 0 auto;
}

.u-section-1 .u-text-4 {
  width: auto;
  font-weight: 700;
  font-size: 1rem;
  margin: 74px auto 0;
}

.u-section-1 .u-group-2 {
  width: 340px;
  height: auto;
  min-height: 264px;
  background-image: linear-gradient(white, #e5e5e5);
  margin: -264px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 23px;
}

.u-section-1 .u-image-2 {
  width: 227px;
  height: 201px;
  transition-duration: 0.5s;
  margin: 18px auto 0;
}

.u-section-1 .u-text-5 {
  font-family: Tahoma;
  font-weight: 700;
  margin: 0 67px 0 auto;
}

.u-section-1 .u-container-layout-4 {
  background-image: none;
  padding: 30px;
}

.u-section-1 .u-text-6 {
  font-family: Tahoma;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-1 .u-group-3 {
  width: 340px;
  height: 264px;
  background-image: linear-gradient(white, #e5e5e5);
  min-height: 264px;
  margin: -264px 52px 0 auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-1 .u-image-3 {
  height: 200px;
  margin-top: 22px;
  margin-bottom: 0;
}

.u-section-1 .u-text-7 {
  font-family: Tahoma;
  font-weight: 700;
  margin: 9px auto -22px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-8 {
  font-family: Tahoma;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  margin: 30px auto 60px 61px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1399px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    height: 181px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-left: auto;
  }

  .u-section-1 .u-group-3 {
    margin-top: 18px;
    margin-right: auto;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 41px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-1 .u-group-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    min-height: 264px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: -174px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.875rem;
  }
}

.u-section-1 .u-image-2,
.u-section-1 .u-image-2:before,
.u-section-1 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}@font-face {
  font-family: 'Tahoma';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Tahoma.ttf);
}@font-face {
  font-family: 'TahomaModerniz';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/TahomaModerniz.woff2);
}