.u-section-1 .u-sheet-1 {
  min-height: 741px;
}

.u-section-1 .u-text-1 {
  margin: 17px auto 0 126px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 496px;
  margin: 63px 166px 60px 140px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 76px;
    margin-left: 50px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 79px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 39px;
    margin-right: initial;
    margin-left: initial;
  }
}@font-face {
  font-family: 'TahomaModerniz';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/TahomaModerniz.woff2);
}@font-face {
  font-family: 'vag-world-bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/vag-world-bold.ttf);
}@font-face {
  font-family: 'Tahoma';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Tahoma.ttf);
}