.u-section-1 .u-sheet-1 {
  min-height: 598px;
}

.u-section-1 .u-image-1 {
  width: 135px;
  height: 95px;
  margin: 500px auto 0 156px;
}

.u-section-1 .u-shape-1 {
  width: 169px;
  height: 169px;
  background-image: linear-gradient(#666666, #333333);
  margin: -567px auto 0 305px;
}

.u-section-1 .u-shape-2 {
  width: 363px;
  height: 363px;
  background-image: linear-gradient(#666666, #333333);
  margin: -44px auto 0 42px;
}

.u-section-1 .u-image-2 {
  width: 182px;
  height: 384px;
  margin: -488px auto 0 223px;
}

.u-section-1 .u-group-1 {
  width: 787px;
  min-height: 117px;
  height: auto;
  margin: -400px 47px 0 auto;
}

.u-section-1 .u-text-1 {
  font-family: vag-world-bold;
  font-size: 3rem;
  margin: 20px 20px 0;
}

.u-section-1 .u-text-2 {
  font-family: vag-world-bold;
  font-size: 3rem;
  margin: -67px 40px 0 196px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 3rem;
  font-family: TahomaModerniz;
  margin: -67px auto 0 140px;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: -10px 433px 0 502px;
}

.u-section-1 .u-group-2 {
  min-height: 170px;
  width: 170px;
  height: auto;
  margin: 12px 383px 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 130px;
  height: 130px;
  background-image: linear-gradient(30deg, white, #999999);
  margin: 20px auto 0 20px;
}

.u-section-1 .u-icon-1 {
  width: 84px;
  height: 84px;
  margin: -107px 43px 0;
  padding: 0;
}

.u-section-1 .u-group-3 {
  min-height: 170px;
  margin-top: -127px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: -111px auto 0 502px;
}

.u-section-1 .u-group-4 {
  width: 292px;
  min-height: 72px;
  height: auto;
  margin: 93px auto 0 497px;
}

.u-section-1 .u-shape-4 {
  width: 43px;
  height: 32px;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  margin: -32px 20px 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  margin: 85px auto 40px 71px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -408px;
    margin-right: -112px;
    height: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -11px;
    margin-right: 268px;
    margin-left: 487px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 0;
    margin-right: 224px;
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -110px;
    margin-right: 400px;
    margin-left: auto;
  }

  .u-section-1 .u-group-4 {
    margin-top: 89px;
    margin-right: 361px;
    margin-left: auto;
    height: auto;
  }

  .u-section-1 .u-text-6 {
    margin-top: 110px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -392px;
    margin-right: -263px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 10px;
    margin-right: -283px;
    margin-left: 323px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 166px;
    margin-left: 70px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 269px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -12px;
    margin-right: 71px;
    margin-left: 484px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -15px;
    margin-right: 45px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -102px;
    margin-right: 217px;
  }

  .u-section-1 .u-group-4 {
    min-height: 75px;
    margin-top: 69px;
    margin-right: 185px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -29px;
    margin-right: 19px;
    margin-left: 74px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 31px;
    margin-left: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-1 .u-image-1 {
    width: 87px;
    height: 54px;
    margin-top: 539px;
    margin-left: 100px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -576px;
    margin-left: 110px;
  }

  .u-section-1 .u-shape-2 {
    width: 237px;
    height: 237px;
    margin-top: 116px;
    margin-left: -50px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -511px;
    margin-left: 20px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -384px;
    margin-right: -346px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -352px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 17px;
    margin-right: 148px;
    margin-left: 88px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 35px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 3px;
    margin-right: 56px;
    margin-left: 279px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 28px;
    margin-right: 33px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -100px;
    margin-right: 213px;
  }

  .u-section-1 .u-group-4 {
    min-height: 69px;
    margin-top: 82px;
    margin-right: 174px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.25rem;
    margin-top: -32px;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: -23px;
    margin-bottom: 60px;
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 301px;
    margin-left: 134px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -338px;
  }

  .u-section-1 .u-shape-2 {
    width: 201px;
    height: 201px;
    margin-top: -131px;
    margin-left: 20px;
  }

  .u-section-1 .u-image-2 {
    width: 135px;
    height: 293px;
    margin-top: -256px;
    margin-left: 47px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -276px;
    margin-right: -501px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: -341px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 6px;
    margin-right: 147px;
    margin-left: 89px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -56px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -58px;
    margin-right: 47px;
    margin-left: 292px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-top: -109px;
    margin-right: 157px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 115px;
    margin-right: auto;
    margin-left: 37px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-6 {
    margin-top: -108px;
    margin-left: 38px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 780px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 333px;
    margin-right: 170px;
    margin-left: 83px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -213px;
    margin-left: -17px;
  }

  .u-section-1 .u-shape-2 {
    width: 56px;
    height: 56px;
    margin-top: -216px;
    margin-left: 29px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -175px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 357px;
    min-height: 163px;
    margin-top: -273px;
    margin-right: -168px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -321px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-right: -50px;
    margin-left: 50px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -60px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -78px;
    margin-right: 19px;
    margin-left: 151px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 170px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -98px;
    margin-right: auto;
    margin-left: 1px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 92px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: 19px;
    margin-left: 18px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -296px;
    margin-left: 0;
  }
}@font-face {
  font-family: 'vag-world-bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/vag-world-bold.ttf);
}@font-face {
  font-family: 'TahomaModerniz';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/TahomaModerniz.woff2);
}@font-face {
  font-family: 'Tahoma';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Tahoma.ttf);
}