 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 565px;
}

.u-section-1 .u-image-1 {
  width: 99px;
  height: 99px;
  box-shadow: 15px -2px 8px 0px rgba(0,247,0,0.4);
  margin: 159px auto 0 139px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-family: Tahoma;
  font-size: 2.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  text-shadow: 0px 0px 8px rgba(0,247,0,0.4);
  margin: 22px auto 0 147px;
}

.u-section-1 .u-text-2 {
  font-family: Tahoma;
  text-shadow: 2px 2px 8px rgba(0,247,0,0.4);
  margin: 20px 660px 0 146px;
}

.u-section-1 .u-image-2 {
  width: 520px;
  height: 344px;
  margin: -285px 66px 60px auto;
}

@media (max-width: 1399px) {
  .u-section-1 .u-image-1 {
    transition-duration: 0.5s;
  }

  .u-section-1 .u-text-2 {
    margin-right: 570px;
    margin-left: 56px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 426px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 206px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 26px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 93px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 225px;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 207px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-family: Tahoma;
  font-size: 2.25rem;
  text-shadow: 0px 0px 8px rgba(0,247,0,0.4);
  line-height: 1.64;
  letter-spacing: 2px;
  margin: 60px auto;
}

@media (max-width: 1399px) {
  .u-section-2 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 312px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-family: Tahoma;
  font-size: 2.25rem;
  text-shadow: 0px 0px 8px rgba(0,247,0,0.4);
  line-height: 1.64;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 37px 130px 0 auto;
}

.u-section-3 .u-text-2 {
  font-family: Tahoma;
  text-shadow: 2px 2px 8px rgba(0,247,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 26px 218px 0 589px;
}

.u-section-3 .u-icon-1 {
  width: 232px;
  height: 232px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: -197px auto 40px 178px;
  padding: 23px;
}

@media (max-width: 1399px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 39px;
    margin-right: 160px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 23px;
    margin-right: 248px;
    margin-left: 379px;
  }

  .u-section-3 .u-icon-1 {
    margin-bottom: 41px;
    margin-left: 72px;
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-right: 148px;
    margin-left: 279px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 289px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 27px;
    margin-right: 196px;
    margin-left: 11px;
  }

  .u-section-3 .u-icon-1 {
    width: 167px;
    height: 167px;
    margin-top: -158px;
    margin-right: 18px;
    margin-left: auto;
    padding: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 1rem;
    margin-right: 160px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 27px;
    margin-left: 0;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 296px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 101px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-icon-1 {
    width: 108px;
    height: 108px;
    margin-top: -235px;
    margin-right: -17px;
    margin-bottom: 60px;
    padding: 10px;
  }
}

.u-section-3 .u-icon-1,
.u-section-3 .u-icon-1:before,
.u-section-3 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 400px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-family: Tahoma;
  font-size: 2.25rem;
  text-shadow: 0px 0px 8px rgba(0,247,0,0.4);
  line-height: 1.64;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 57px auto 0 222px;
}

.u-section-4 .u-text-2 {
  font-family: Tahoma;
  text-shadow: 2px 2px 8px rgba(0,247,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 29px 585px 60px 222px;
}

@media (max-width: 1399px) {
  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 12px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 615px;
    margin-left: 12px;
  }
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-right: 415px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-right: 195px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-2 {
    margin-right: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 391px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-family: Tahoma;
  font-size: 2.25rem;
  text-shadow: 0px 0px 8px rgba(0,247,0,0.4);
  line-height: 1.64;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 52px 46px 0 auto;
}

.u-section-5 .u-text-2 {
  font-family: Tahoma;
  text-shadow: 2px 2px 8px rgba(0,247,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px 134px 60px 673px;
}

@media (max-width: 1399px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 12px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-right: 615px;
    margin-left: 12px;
  }
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-right: 415px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-right: 195px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-5 .u-text-2 {
    margin-right: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-2 {
    margin-right: 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 252px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-family: Tahoma;
  font-size: 2.25rem;
  text-shadow: 0px 0px 8px rgba(0,247,0,0.4);
  line-height: 1.64;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 38px 0 0;
}

.u-section-6 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-family: Tahoma;
  box-shadow: 2px 0 0 0 rgba(0,247,0,0);
  transition-duration: 0.5s;
  --radius: 100px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 38px auto 0 107px;
  padding: 7px 26px 8px 24px;
}

.u-section-6 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-family: Tahoma;
  box-shadow: 2px 0 0 0 rgba(0,247,0,0);
  transition-duration: 0.5s;
  --radius: 100px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -37px auto 0 415px;
  padding: 7px 26px 8px 24px;
}

.u-section-6 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-family: Tahoma;
  box-shadow: 2px 0 0 0 rgba(0,247,0,0);
  transition-duration: 0.5s;
  --radius: 100px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -37px 441px 0 auto;
  padding: 7px 26px 8px 24px;
}

.u-section-6 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-family: Tahoma;
  box-shadow: 2px 0 0 0 rgba(0,247,0,0);
  transition-duration: 0.5s;
  --radius: 100px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -37px 140px 60px auto;
  padding: 7px 26px 8px 24px;
}

@media (max-width: 1399px) {
  .u-section-6 .u-text-1 {
    width: auto;
    margin-right: 46px;
    margin-left: 12px;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-6 .u-btn-2 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-left: 235px;
  }

  .u-section-6 .u-btn-3 {
    margin-right: 261px;
  }

  .u-section-6 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 1199px) {
  .u-section-6 .u-btn-2 {
    margin-top: 20px;
    margin-left: 35px;
  }

  .u-section-6 .u-btn-3 {
    margin-right: 61px;
  }

  .u-section-6 .u-btn-4 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-6 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    font-size: 1rem;
  }
}

.u-section-6 .u-btn-1,
.u-section-6 .u-btn-1:before,
.u-section-6 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-btn-1.u-btn-1.u-btn-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-6 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-6 .u-btn-1.u-btn-1.u-btn-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-6 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-6 .u-btn-2,
.u-section-6 .u-btn-2:before,
.u-section-6 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-btn-2.u-btn-2.u-btn-2:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-6 .u-btn-2 {
  border-color: transparent !important;
}

.u-section-6 .u-btn-2.u-btn-2.u-btn-2.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-6 .u-btn-2 {
  border-color: transparent !important;
}

.u-section-6 .u-btn-3,
.u-section-6 .u-btn-3:before,
.u-section-6 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-btn-3.u-btn-3.u-btn-3:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-6 .u-btn-3 {
  border-color: transparent !important;
}

.u-section-6 .u-btn-3.u-btn-3.u-btn-3.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-6 .u-btn-3 {
  border-color: transparent !important;
}

.u-section-6 .u-btn-4,
.u-section-6 .u-btn-4:before,
.u-section-6 .u-btn-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-btn-4.u-btn-4.u-btn-4:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-6 .u-btn-4 {
  border-color: transparent !important;
}

.u-section-6 .u-btn-4.u-btn-4.u-btn-4.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-6 .u-btn-4 {
  border-color: transparent !important;
}@font-face {
  font-family: 'Tahoma';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Tahoma.ttf);
}