.u-section-1 .u-sheet-1 {
  min-height: 693px;
}

.u-section-1 .u-image-1 {
  width: 358px;
  height: 113px;
  margin: 11px auto 60px 384px;
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-left: 362px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-left: 182px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 107px;
    margin-left: 0;
  }
}@font-face {
  font-family: 'Tahoma';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Tahoma.ttf);
}@font-face {
  font-family: 'vag-world-bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/vag-world-bold.ttf);
}