.u-section-1 .u-sheet-1 {
  min-height: 85px;
}

.u-section-1 .u-image-1 {
  width: 289px;
  height: 111px;
  margin: -8px auto -18px -33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: -6px;
    margin-bottom: -20px;
    margin-left: -10px;
  }
} .u-section-2 {
  min-height: 1027px;
}

.u-section-2 .u-group-1 {
  width: 977px;
  height: auto;
  min-height: 556px;
  margin: -484px calc(((100% - 1320px) / 2)) 60px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-2 .u-text-1 {
  font-family: Tahoma;
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-2 .u-shape-1 {
  width: 35px;
  height: 65px;
  margin: 6px 909px 0 33px;
}

.u-section-2 .u-text-2 {
  font-family: Tahoma;
  margin: -49px 75px 0 112px;
}

.u-section-2 .u-shape-2 {
  width: 79px;
  height: 79px;
  margin: -584px auto 0 0;
}

.u-section-2 .u-shape-3 {
  width: 63px;
  height: 47px;
  --bottom-right-radius: 20px;
  --bottom-left-radius: 20px;
  transform-origin: center center;
  transform: scaleX(-1);
  margin: -63px auto 0 8px;
}

.u-section-2 .u-image-1 {
  width: 259px;
  height: 82px;
  margin: 0 auto 0 calc(((100% - 1320px) / 2));
}

.u-section-2 .u-line-1 {
  transform-origin: left center;
  margin: 17px 0 0;
}

.u-section-2 .u-image-2 {
  height: 103px;
  margin-top: 0;
  margin-bottom: 0;
  filter: brightness(0.45);
}

.u-section-2 .u-text-3 {
  font-family: Tahoma;
  font-size: 2.25rem;
  text-shadow: 2px 40px 40px rgba(128,128,128,1);
  margin: -80px auto 0 calc(((100% - 1320px) / 2));
}

.u-section-2 .u-text-4 {
  font-family: Tahoma;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 45px calc(((100% - 1320px) / 2)  + 427px) 0 calc(((100% - 1320px) / 2)  + 343px);
}

.u-section-2 .u-btn-1 {
  background-image: none;
}

.u-section-2 .u-shape-4 {
  width: 47px;
  height: 29px;
  margin: -29px auto 0 calc(((100% - 1320px) / 2)  + 456px);
}

.u-section-2 .u-text-5 {
  font-family: Tahoma;
  font-weight: 700;
  margin: -31px calc(((100% - 1320px) / 2)  + 247px) 0 calc(((100% - 1320px) / 2)  + 523px);
}

.u-section-2 .u-group-2 {
  width: 320px;
  height: auto;
  background-image: linear-gradient(white, #d9d9d9);
  box-shadow: 2px -2px 40px 0px rgba(128,128,128,1);
  min-height: 600px;
  margin: -28px auto 0 calc(((100% - 1320px) / 2));
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 12px;
}

.u-section-2 .u-text-6 {
  font-family: Tahoma;
  font-weight: 400;
  margin: 0 auto 0 6px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-text-7 {
  font-family: Tahoma;
  font-weight: 400;
  margin: 20px auto 0 6px;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-8 {
  font-family: Tahoma;
  font-style: italic;
  font-size: 1rem;
  margin: 437px 162px 0 0;
}

.u-section-2 .u-text-9 {
  font-family: Tahoma;
  margin: 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-line-2 {
  width: 320px;
  transform-origin: right center;
  margin: -77px auto 0 calc(((100% - 1320px) / 2));
}

.u-section-2 .u-group-3 {
  width: 977px;
  height: auto;
  background-image: linear-gradient(white, #d9d9d9);
  box-shadow: 2px -2px 40px 0px rgba(128,128,128,1);
  min-height: 558px;
  margin: -484px calc(((100% - 1320px) / 2)) 60px auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-shape-5 {
  width: 79px;
  height: 79px;
  margin: -584px auto 0 0;
}

.u-section-2 .u-shape-6 {
  width: 63px;
  height: 47px;
  --bottom-right-radius: 20px;
  --bottom-left-radius: 20px;
  transform-origin: center center;
  transform: scaleX(-1);
  margin: -63px auto 0 8px;
}

.u-section-2 .u-text-10 {
  font-family: Tahoma;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-2 .u-text-11 {
  font-family: Tahoma;
  font-size: 1rem;
  margin: 0 74px 0 113px;
}

.u-section-2 .u-shape-7 {
  width: 35px;
  height: 65px;
  margin: -435px auto 0 33px;
}

@media (max-width: 1399px) {
   .u-section-2 {
    min-height: 845px;
  }

  .u-section-2 .u-group-1 {
    margin-right: calc(((100% - 1140px) / 2));
    height: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: 248px;
    margin-left: calc(((100% - 1140px) / 2)  + -32px);
  }

  .u-section-2 .u-line-1 {
    margin-top: 15px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: calc(((100% - 1140px) / 2)  + 223px);
    margin-left: calc(((100% - 1140px) / 2)  + 367px);
  }

  .u-section-2 .u-shape-4 {
    margin-left: calc(((100% - 1140px) / 2)  + 504px);
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-right: calc(((100% - 1140px) / 2)  + 20px);
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-group-2 {
    min-height: 609px;
    margin-top: -43px;
    margin-left: calc(((100% - 1140px) / 2));
    height: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: 66px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 15px;
    margin-right: 132px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 456px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 1px;
  }

  .u-section-2 .u-line-2 {
    margin-top: -75px;
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-group-3 {
    width: 793px;
    margin-top: -483px;
    margin-right: calc(((100% - 1140px) / 2)  + 12px);
    height: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
  }
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 50vw;
  }

  .u-section-2 .u-group-1 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-shape-1 {
    margin-right: 759px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: 12px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-line-1 {
    margin-top: 17px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2)  + 77px);
    margin-left: calc(((100% - 940px) / 2)  + 313px);
  }

  .u-section-2 .u-shape-4 {
    margin-left: calc(((100% - 940px) / 2) + 504px);
  }

  .u-section-2 .u-text-5 {
    margin-top: -29px;
    margin-right: calc(((100% - 940px) / 2)  + -213px);
    margin-left: calc(((100% - 940px) / 2)  + 603px);
  }

  .u-section-2 .u-group-2 {
    margin-top: -31px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 34px;
    margin-right: 72px;
    margin-left: 12px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 138px;
    margin-left: 12px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 419px;
    margin-right: 168px;
    margin-left: 6px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 12px;
  }

  .u-section-2 .u-line-2 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-group-3 {
    width: 602px;
    min-height: 569px;
    margin-top: -497px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-10 {
    width: auto;
  }

  .u-section-2 .u-text-11 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 23px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-shape-7 {
    margin-top: -415px;
    margin-left: 45px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 862px;
  }

  .u-section-2 .u-group-1 {
    width: 694px;
    min-height: 724px;
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2)  + -334px);
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 120px;
    margin-right: 467px;
    margin-left: -215px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -65px;
    margin-right: 320px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 355px;
    margin-left: -380px;
  }

  .u-section-2 .u-shape-2 {
    width: 58px;
    height: 58px;
    margin-top: -605px;
    margin-left: -380px;
  }

  .u-section-2 .u-shape-3 {
    width: 50px;
    height: 31px;
    margin-top: -44px;
    margin-left: -372px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -843px;
    margin-left: auto;
  }

  .u-section-2 .u-line-1 {
    margin-top: 103px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    margin-top: -104px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -81px;
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: 34px;
    margin-right: calc(((100% - 720px) / 2)  + 170px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-1 {
    padding: 0;
  }

  .u-section-2 .u-shape-4 {
    margin-top: -32px;
    margin-left: calc(((100% - 720px) / 2)  + 87px);
  }

  .u-section-2 .u-text-5 {
    margin: -27px calc(((100% - 720px) / 2)  + 21px) 498px calc(((100% - 720px) / 2)  + 149px);
  }

  .u-section-2 .u-group-2 {
    margin-top: -540px;
    margin-left: calc(((100% - 720px) / 2)  + -37px);
  }

  .u-section-2 .u-text-6 {
    margin-top: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: 12px;
    margin-right: 3px;
    margin-left: 15px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 443px;
    margin-right: 36px;
  }

  .u-section-2 .u-line-2 {
    margin-top: 136px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-group-3 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-shape-5 {
    margin-top: -1213px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 634px;
    margin-right: -8px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 17px;
    margin-right: 11px;
    margin-left: 112px;
  }

  .u-section-2 .u-shape-7 {
    margin-top: -1029px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    margin-top: 138px;
    margin-right: calc(((100% - 540px) / 2)  + -334px);
  }

  .u-section-2 .u-text-1 {
    margin-top: 104px;
    margin-right: auto;
    margin-left: -124px;
  }

  .u-section-2 .u-shape-1 {
    margin-right: 310px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 11px;
    margin-right: 293px;
    margin-left: -208px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -555px;
    margin-left: -208px;
  }

  .u-section-2 .u-shape-3 {
    margin-left: -200px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
    margin-top: 46px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-shape-4 {
    margin-top: -28px;
    margin-left: calc(((100% - 540px) / 2)  + 88px);
  }

  .u-section-2 .u-text-5 {
    margin-right: calc(((100% - 540px) / 2)  + 18px);
    margin-bottom: 60px;
    margin-left: calc(((100% - 540px) / 2)  + 172px);
  }

  .u-section-2 .u-group-2 {
    margin-left: calc(((100% - 540px) / 2)  + -37px);
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 386px;
  }

  .u-section-2 .u-line-2 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-group-3 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-shape-5 {
    margin-top: -627px;
    margin-left: -20px;
  }

  .u-section-2 .u-shape-6 {
    margin-left: -12px;
  }

  .u-section-2 .u-text-10 {
    font-size: 1rem;
    margin-top: 36px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-top: 36px;
  }

  .u-section-2 .u-shape-7 {
    margin-top: -462px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1134px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-top: 104px;
    margin-right: calc(((100% - 340px) / 2)  + -88px);
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 157px;
    margin-left: -63px;
  }

  .u-section-2 .u-shape-1 {
    width: 25px;
    height: 32px;
    margin-top: -31px;
    margin-right: 94px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 59px;
    margin-right: 68px;
    margin-left: -128px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -770px;
    margin-left: -136px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: -45px;
    margin-left: -129px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -828px;
  }

  .u-section-2 .u-text-4 {
    margin-right: calc(((100% - 340px) / 2)  + -100px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-shape-4 {
    margin-left: calc(((100% - 340px) / 2)  + 88px);
  }

  .u-section-2 .u-text-5 {
    margin-right: calc(((100% - 340px) / 2)  + -152px);
    margin-left: calc(((100% - 340px) / 2)  + 152px);
  }

  .u-section-2 .u-group-2 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-8 {
    margin-right: 241px;
  }

  .u-section-2 .u-line-2 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-group-3 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-shape-5 {
    margin-top: -628px;
    margin-left: -18px;
  }

  .u-section-2 .u-shape-6 {
    margin-bottom: 565px;
    margin-left: -10px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 17px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 58px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-shape-7 {
    width: 25px;
    height: 32px;
    margin-top: -528px;
    margin-left: 9px;
  }
}@font-face {
  font-family: 'Tahoma';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Tahoma.ttf);
}@font-face {
  font-family: 'vag-world-bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/vag-world-bold.ttf);
}