 .u-section-1 {
  min-height: 596px;
}

.u-section-1 .u-image-1 {
  width: 259px;
  height: 82px;
  margin: 0 auto 0 calc(((100% - 1320px) / 2));
}

.u-section-1 .u-line-1 {
  margin-top: -7px;
  margin-bottom: 0;
  transform-origin: left center;
}

.u-section-1 .u-image-2 {
  height: 387px;
  margin-top: 0;
  margin-bottom: 0;
  filter: brightness(0.45);
}

.u-section-1 .u-shape-1 {
  width: 1320px;
  height: 232px;
  background-image: linear-gradient(white, #d9d9d9);
  box-shadow: 2px -2px 40px 0px rgba(128,128,128,1);
  margin: -120px auto 0;
}

.u-section-1 .u-group-1 {
  width: 152px;
  min-height: 231px;
  height: auto;
  margin: -232px auto 0 calc(((100% - 1320px) / 2)  + 41px);
}

.u-section-1 .u-icon-1 {
  width: 112px;
  height: 112px;
  margin: 20px 20px 0;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-family: Tahoma;
  font-size: 1.875rem;
  margin: 31px 26px 0 auto;
}

.u-section-1 .u-text-2 {
  font-family: Tahoma;
  font-size: 3.75rem;
  text-shadow: 2px -2px 40px rgba(128,128,128,1);
  font-weight: 400;
  margin: -415px auto 0;
}

.u-section-1 .u-group-2 {
  width: 203px;
  min-height: 230px;
  height: auto;
  margin: 89px auto 0 calc(((100% - 1320px) / 2)  + 287px);
}

.u-section-1 .u-image-3 {
  width: 112px;
  height: 112px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  font-family: Tahoma;
  font-size: 1.5rem;
  margin: 40px auto 0 20px;
}

.u-section-1 .u-image-4 {
  width: 112px;
  height: 112px;
  margin: -204px calc(((100% - 1320px) / 2)  + 599px) 0 auto;
}

.u-section-1 .u-text-4 {
  font-family: Tahoma;
  font-size: 1.5rem;
  margin: 40px auto 0;
}

.u-section-1 .u-image-5 {
  width: 112px;
  height: 112px;
  margin: -192px calc(((100% - 1320px) / 2)  + 325px) 0 auto;
}

.u-section-1 .u-text-5 {
  font-family: Tahoma;
  font-size: 1.5rem;
  margin: 42px 349px 35px calc(((100% - 1320px) / 2)  + 859px);
}

@media (max-width: 1399px) {
  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-1 .u-shape-1 {
    width: 1140px;
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 1140px) / 2) + 41px);
    height: auto;
  }

  .u-section-1 .u-group-2 {
    margin-left: calc(((100% - 1140px) / 2) + 287px);
    height: auto;
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 1140px) / 2) + 599px);
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 1140px) / 2) + 325px);
  }

  .u-section-1 .u-text-5 {
    margin-left: calc(((100% - 1140px) / 2) + 742px);
  }
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 597px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-shape-1 {
    width: 940px;
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + 41px);
  }

  .u-section-1 .u-group-2 {
    margin-left: calc(((100% - 940px) / 2) + 287px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 940px) / 2) + 599px);
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 940px) / 2) + 325px);
  }

  .u-section-1 .u-text-5 {
    margin-right: 288px;
    margin-left: calc(((100% - 940px) / 2) + 612px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-shape-1 {
    width: 720px;
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2) + 41px);
  }

  .u-section-1 .u-group-2 {
    margin-left: calc(((100% - 720px) / 2) + 287px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 720px) / 2) + 599px);
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 720px) / 2) + 325px);
  }

  .u-section-1 .u-text-5 {
    margin-right: 221px;
    margin-left: calc(((100% - 720px) / 2) + 469px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 598px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 540px) / 2) + 41px);
  }

  .u-section-1 .u-icon-1 {
    width: 82px;
    height: 82px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: 23px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 37px;
    margin-right: auto;
    margin-left: 26px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    font-weight: 700;
  }

  .u-section-1 .u-group-2 {
    margin-left: calc(((100% - 540px) / 2) + 287px);
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 540px) / 2) + 428px);
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 540px) / 2) + 325px);
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    margin-right: 166px;
    margin-left: calc(((100% - 540px) / 2) + 352px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 676px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 340px) / 2) + 41px);
  }

  .u-section-1 .u-icon-1 {
    margin-top: 24px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 9px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-group-2 {
    margin-left: calc(((100% - 340px) / 2) + 137px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 340px) / 2) + 228px);
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 340px) / 2) + 228px);
  }

  .u-section-1 .u-text-5 {
    margin-right: 105px;
    margin-left: calc(((100% - 340px) / 2) + 222px);
  }
}.u-section-2 .u-sheet-1 {
  min-height: 534px;
}

.u-section-2 .u-group-1 {
  width: 439px;
  min-height: 430px;
  height: auto;
  margin: 20px auto 0 11px;
}

.u-section-2 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-2 .u-group-2 {
  width: 390px;
  height: auto;
  box-shadow: 2px 0px 40px 0px rgba(128,128,128,1);
  min-height: 390px;
  margin: 20px auto 0 20px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 2.125rem;
  text-shadow: 2px -2px 22px rgba(128,128,128,1);
  font-family: Tahoma;
  margin: -388px 43px 0 auto;
}

.u-section-2 .u-text-2 {
  font-family: Tahoma;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 20px 36px 0 506px;
}

.u-section-2 .u-image-1 {
  width: 28px;
  height: 28px;
  margin: -199px auto 0 467px;
}

.u-section-2 .u-image-2 {
  width: 39px;
  height: 41px;
  margin: 0 auto 0 462px;
}

.u-section-2 .u-image-3 {
  width: 39px;
  height: 26px;
  margin: -10px auto 0 462px;
}

.u-section-2 .u-image-4 {
  width: 28px;
  height: 28px;
  margin: 0 auto 0 467px;
}

.u-section-2 .u-image-5 {
  width: 39px;
  height: 18px;
  margin: 6px auto 0 462px;
}

.u-section-2 .u-image-6 {
  width: 45px;
  height: 15px;
  margin: 12px auto 0 459px;
}

.u-section-2 .u-image-7 {
  width: 36px;
  height: 15px;
  margin: 15px auto 5px 463px;
}

@media (max-width: 1399px) {
  .u-section-2 .u-group-1 {
    width: 430px;
    min-height: 416px;
    margin-top: 19px;
    margin-left: -43px;
    height: auto;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: -373px;
    margin-left: 387px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 11px;
    margin-right: -26px;
    margin-left: 424px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -197px;
    margin-left: 388px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -9px;
    margin-left: 383px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -7px;
    margin-left: 382px;
  }

  .u-section-2 .u-image-4 {
    margin-left: 388px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 8px;
    margin-left: 382px;
  }

  .u-section-2 .u-image-6 {
    margin-top: 13px;
    margin-left: 379px;
  }

  .u-section-2 .u-image-7 {
    width: 39px;
    height: 16px;
    margin-top: 16px;
    margin-bottom: 60px;
    margin-left: 379px;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 383px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 36px;
    margin-left: 411px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -373px;
    margin-left: 383px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 25px;
    margin-left: 372px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 25px;
    margin-left: 366px;
  }

  .u-section-2 .u-image-4 {
    width: 20px;
    height: 25px;
    margin-top: 33px;
    margin-left: 375px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 27px;
    margin-left: 366px;
  }

  .u-section-2 .u-image-6 {
    margin-top: 20px;
    margin-left: 360px;
  }

  .u-section-2 .u-image-7 {
    margin-top: 43px;
    margin-left: 366px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -410px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 48px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -288px;
    margin-left: 11px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 13px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 30px;
    margin-left: 0;
  }

  .u-section-2 .u-image-4 {
    width: 28px;
    height: 24px;
    margin-top: 25px;
    margin-left: 13px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-2 .u-image-6 {
    margin-top: 9px;
    margin-left: 0;
  }

  .u-section-2 .u-image-7 {
    margin-top: 11px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    margin-top: 25px;
    margin-left: -50px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -416px;
    margin-right: 43px;
    margin-left: 26px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 36px;
    margin-left: 50px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -291px;
    margin-left: 13px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 13px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 14px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 13px;
    margin-left: 14px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 7px;
  }

  .u-section-2 .u-image-7 {
    margin-top: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-top: 215px;
    margin-left: -17px;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: -567px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 36px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -430px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: 33px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    margin-top: 33px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 49px;
    margin-left: 0;
  }

  .u-section-2 .u-image-5 {
    margin-top: 23px;
    margin-left: -19px;
  }

  .u-section-2 .u-image-6 {
    margin-top: 29px;
    margin-left: -22px;
  }

  .u-section-2 .u-image-7 {
    margin-top: 33px;
    margin-left: -19px;
  }
}@font-face {
  font-family: 'Tahoma';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Tahoma.ttf);
}@font-face {
  font-family: 'TahomaModerniz';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/TahomaModerniz.woff2);
}@font-face {
  font-family: 'vag-world-bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/vag-world-bold.ttf);
}