 .u-section-1 {
  min-height: 925px;
}

.u-section-1 .u-image-1 {
  width: 259px;
  height: 82px;
  margin: 0 auto 0 calc(((100% - 1320px) / 2));
}

.u-section-1 .u-line-1 {
  margin-top: -7px;
  margin-bottom: 0;
  transform-origin: left center;
}

.u-section-1 .u-image-2 {
  height: 103px;
  margin-top: 0;
  margin-bottom: 0;
  filter: brightness(0.45);
}

.u-section-1 .u-text-1 {
  font-family: Tahoma;
  font-size: 2.25rem;
  text-shadow: 2px -2px 40px rgba(128,128,128,1);
  margin: -80px auto 0 calc(((100% - 1320px) / 2));
}

.u-section-1 .u-text-2 {
  font-family: SegoeUI-Light;
  font-size: 6rem;
  margin: 86px auto 0 calc(((100% - 1320px) / 2));
}

.u-section-1 .u-image-3 {
  width: 478px;
  height: 300px;
  margin: -185px calc(((100% - 1320px) / 2)  + 288px) 0 auto;
}

.u-section-1 .u-image-4 {
  width: 403px;
  height: 300px;
  margin: -322px calc(((100% - 1320px) / 2)) 60px auto;
}

@media (max-width: 1399px) {
  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-top: 75px;
    margin-left: calc(((100% - 1140px) / 2)  + 96px);
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 1140px) / 2)  + -38px);
  }

  .u-section-1 .u-image-4 {
    margin-top: -336px;
    margin-right: calc(((100% - 1140px) / 2)  + 352px);
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-left: calc(((100% - 940px) / 2)  + 96px);
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 940px) / 2)  + -38px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 940px) / 2)  + 352px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2)  + 96px);
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 720px) / 2)  + -38px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 720px) / 2)  + 317px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 8px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-left: calc(((100% - 540px) / 2)  + 96px);
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 540px) / 2)  + -38px);
    margin-left: calc(((100% - 540px) / 2)  + 62px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 540px) / 2)  + 137px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 791px;
  }

  .u-section-1 .u-image-1 {
    height: 74px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2)  + 96px);
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 213px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 253px;
    margin-top: -249px;
    margin-right: calc(((100% - 340px) / 2));
  }
}@font-face {
  font-family: 'Tahoma';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Tahoma.ttf);
}@font-face {
  font-family: 'SegoeUI-Light';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SegoeUI-Light.ttf);
}@font-face {
  font-family: 'TahomaModerniz';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/TahomaModerniz.woff2);
}